@model IEnumerable<Empresa.Compras.Entities.Fornecedor>

@{
    ViewBag.Title = "Lista Fornecedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divExcluir"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Compras - Fornecedores</h4>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Novo Fornecedor", "Create", "Fornecedores", new { @class = "btn btn-primary" })

        <table class="table table-striped table-condensed table-bordered marginTop">
            <thead>
                <tr>
                    @*<th class="text-right">#id</th>*@
                    <th class="text-center">Nome</th>
                    <th class="text-center">Cpf/Cnpj</th>
                    <th class="text-center">Telefone</th>
                    <th class="text-center">E-mail</th>
                    <th class="text-center">Excluir</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
            {
                    <tr id="row-@item.IdFornecedor">
                        <td>
                            @Html.ActionLink(item.Nome, "Edit", new { item.IdFornecedor })
                        </td>
                        <td class="text-center">
                            @item.CnpjCpf
                        </td>
                        <td class="text-center">
                            @item.Telefone
                        </td>
                        <td class="text-center">
                            @item.Email
                        </td>
                        <td class="text-center">
                            <input type="submit" class="btn btn-danger btn-xs" id="@item.IdFornecedor" name="@item.Nome" value="Excluir" />
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("Confirmacao")
