@model Empresa.Compras.Entities.Proposta

@{
    ViewBag.Title = "Alterar proposta";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Nova proposta</h4>
    </div>

    @using (Html.BeginForm())
    {
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.IdProposta)

            <div class="form-group">
                @Html.LabelFor(model => model.Nome, new { @class = "control-label" })
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.DataProposta, "Data da  proposta", new { @class = "control-label" })
                @Html.EditorFor(model => model.DataProposta, new { htmlAttributes = new { @class = "form-control", @onkeyup = "formataData(this,event)" } })
                @Html.ValidationMessageFor(model => model.DataProposta, "", new { @class = "text-danger" })
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.DescricaoGeral, "Descrição", new { @class = "control-label" })
                @Html.EditorFor(model => model.DescricaoGeral, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescricaoGeral, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ValorProposta, "Valor da proposta", new { @class = "control-label" })
                @Html.EditorFor(model => model.ValorProposta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorProposta, "", new { @class = "text-danger" })
            </div>            

            <div class="form-group">
                @Html.Label("Fornecedor", new { @class = "control-label" })
                @Html.DropDownListFor(model => model.IdFornecedor, ViewBag.IdFornecedor as IEnumerable<SelectListItem>, "", new { @class = "form-control" })                
                @Html.ValidationMessageFor(model => model.Fornecedor, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IdCategoria, "Categorias")
                @Html.DropDownListFor(model => model.IdCategoria, ViewBag.IdCategoria as IEnumerable<SelectListItem>, "", new { @class = "form-control" })
                
                @Html.ValidationMessageFor(model => model.IdCategoria, "", new { @class = "text-danger" })                
            </div>

            <div class="panel-footer">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar e retornar", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
